In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Atheena Jain\Downloads\Sales_add.csv")

In [6]:
from scipy.stats import ttest_rel

In [8]:
t_stat,p_value=ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [9]:
p_value

6.336667004575778e-11

In [11]:
t_stat

-12.09070525287017

In [38]:
if p_value<0.05:
    print('Null hypothesis rejected')
else:
    print('Null hypothesis accepted')

Null hypothesis rejected

In [46]:
#The null hypothesis is there is no increase in sales after the implementation of digital add and its rejected

In [39]:
from scipy.stats import chi2_contingency

In [40]:
contingency_table = pd.pivot_table(data, index='Region', columns='Manager', values=['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'], aggfunc=sum, fill_value=0)

In [41]:
contingency_table

           Sales_After_digital_add(in $)                          \
Manager                      Manager - A Manager - B Manager - C
Region
Region - A                       1030437      656832      701262
Region - B                        939851      231808      429436
Region - C                        229336      643654      222106

           Sales_before_digital_add(in $)
Manager                       Manager - A Manager - B Manager - C
Region
Region - A                         594514      466851      420684
Region - B                         570900      152167      330598
Region - C                         147463      469477      130625

In [42]:
chi2, p_value1, dof, expected = chi2_contingency(contingency_table)

In [43]:
if p_value1<0.05:
    print('Null hypothesis rejected')
else:
    print('Null hypothesis accepted')

Null hypothesis rejected

In [45]:
#The null hypothesis is there is no dependence between region and manager and its rejected